@import "~antd/lib/style/themes/default.less";

.papaya-header {
  line-height: @layout-header-height;
  height: @layout-header-height;
  background-color: @layout-header-background;
  display: flex;
  flex-shrink: 0;

  & > .ant-menu {
    flex: 1;
  }

  .userinfo {
    margin-right: 24px;
    color: #fff;

    .username {
      opacity: 0.8;
      margin-right: 20px;
    }

    .logout {
      .anticon {
        margin-right: 8px;
      }
      color: #fff;
    }
  }
}
